/* Estilo general del cuerpo */
body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
    overflow: hidden;
}

/* Contenedor principal */
#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Área del juego */
#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    max-height: 700px;
}

/* Carta base */
.card {
    width: 100px;
    height: 140px;
    margin: 1rem;
    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
}


/* Estado activo (volteada) */
.card.active {
  transform: rotateY(180deg);
}

/* Caras de la carta */
.card .face,
.card .back {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  backface-visibility: hidden;
  font-size: 3rem;
}

/* Cara frontal (contenido) */
.card .face {
  background-color: purple;
  color: white;
  transform: rotateY(180deg);
}

/* Cara trasera (oculta) */
.card .back {
  background-color: black;
  border: 2px solid purple;
}
